@import "../variables";


.AboutPageWrapper {

    margin-top: 4vw;
    padding: 20px;

    color: $color-tertiary;

    .PageTitle {
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }

    .AboutPageSection {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;

        width: 90%;

        margin: 0 auto;

        border-radius: 15px;
        padding: 30px;
        background-color: $color-tertiary;
        color: $color-primary;
        font-size: x-large;

        .AboutProfile {

            .AboutCeoImage {
                img {
                    object-fit: contain;
                    height: 408px;
                    width: 100%;
                }
            }

            .AboutCeoName {}
        }

        .AboutTextContainer {
            width: 50%;

            .AbouText {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .Par1 {
                    font-style: italic;
                    border-left: 2px solid $color-primary;
                    padding-left: 20px;
                }

                .Par2 {}

            }
        }


    }
}