@import "../variables";


.AboutPageWrapper {

    margin-top: 4vw;
    padding: 150px;

    color: $color-tertiary;

    .AboutPageSection {
        animation: myAnim 1s ease 0s 1 normal forwards;

        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;

        width: 90%;

        margin: 0 auto;

        border-radius: 15px;
        padding: 40px;
        background-color: $color-tertiary;
        color: $color-primary;
        font-size: x-large;

        .AboutProfile {
        // margin: 0 auto;

            .AboutCeoImage {
                img {
                    object-fit: contain;
                    height: 408px;
                    width: 100%;
                }
            }

            .AboutCeoName {}
        }

        .AboutTextContainer {
            width: 50%;

            .AbouText {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .Par1 {
                    font-style: italic;
                    border-left: 2px solid $color-primary;
                    padding-left: 20px;
                }

                .Par2 {}

            }
        }
    }
}


@media (max-width:1120px) {


    .AboutPageWrapper {
        padding: 10px;

        .AboutPageSection {
            flex-direction: column;
            font-size: medium;
        }
    }
}


@keyframes myAnim {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}