@import "../variables.scss";

.checkoutWrapper {
    padding: 160px 0px;

    @media (max-width: 1120px) {
        padding: 8px 10px;
    }

    max-width: 1400px;
    margin: 0 auto;

    border-radius: 15px;

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: min(16px, 24px);
    }

    #empty {
        font-size: 24px;
    }

    .checkoutContainer {
        box-shadow: $color-tertiary 0px 0px 10px 0px;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }

        background-color: $color-tertiary;

        .fromContainer {
            width: 100%;
            flex: 1 0 0;

            padding: 15px;
            .form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                font-size: 26px;

                .gdpr {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 0px;

                    a{
                        // text-decoration: dotted;
                    }

                    #checkbox {
                        width: 40px;
                    }

                    /* Style the custom checkbox container */
                    .customCheckbox {
                        position: relative;
                        padding-left: 35px;
                        cursor: pointer;
                        font-size: 22px;
                        user-select: none;
                    }

                    /* Hide the default checkbox */
                    .customCheckbox input[type="checkbox"] {
                        // position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    /* Create a custom checkbox */
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 30px;
                        width: 30px;
                        background-color: #eee;
                        border: 2px solid #555;
                        border-radius: 4px;
                    }

                    /* On mouse-over, add a grey background color */
                    .customCheckbox:hover input ~ .checkmark {
                        background-color: #ccc;
                    }

                    /* When the checkbox is checked, add a blue background */
                    .customCheckbox input:checked ~ .checkmark {
                        background-color: $color-secondary;
                    }

                    /* Create the checkmark/indicator (hidden when not checked) */
                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                    /* Show the checkmark when checked */
                    .customCheckbox input:checked ~ .checkmark:after {
                        display: block;
                    }

                    /* Style the checkmark/indicator */
                    .customCheckbox .checkmark:after {
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                }

                #textArea {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    margin-top: 10px;
                    padding: 16px 24px;
                    border: 2px solid #1b1b1b;
                    box-sizing: border-box;
                    background: #ffffff;
                    border-radius: 16px;
                    font-size: 26px;

                    &:focus {
                        outline: none;
                        background: #f9e450;
                    }
                }

                input {
                    // display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin-top: 10px;
                    padding: 16px 24px;
                    width: 100%;
                    height: 15%;
                    left: 1048px;
                    top: 16px;
                    background: #ffffff;
                    border: 2px solid #1b1b1b;
                    box-sizing: border-box;
                    border-radius: 16px;
                    transition: 0.2s;
                    font-size: 26px;

                    &:focus {
                        outline: none;
                        background: #f9e450;
                    }
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 24px;
                padding: 1.5em 1.1em;
                border: none;
                border-radius: 7px;
                font-weight: 900;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                color: #fff;
                background-color: $color-secondary;
                box-shadow: 2px 2px 25px -7px $color-primary;
                cursor: pointer;

                height: 50px;
                width: 100%;
            }
        }

        .ProdcutsContainer {
            width: 50%;
            margin: 15px;

            @media (max-width: 768px) {
                width: 100%;
            }

            .DrawerProducts {
                .ProductItem {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-top: 1px solid gray;

                    .productImage {
                        width: 200px;
                    }

                    .productDescription {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                        font-size: 36px;
                    }

                    .productPrice {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        align-items: center;
                        font-size: 26px;

                        #price {
                            width: 45px;
                            text-align: right;
                        }
                    }

                    .productCount {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        button {
                            background-color: none;
                            border: none;
                            font-size: 36px;
                            cursor: pointer;
                            width: 30px;
                        }

                        span {
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}
