@import "../variables";

.TempContainer {
    min-height: 700px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 100px;
}

.reviewsWrapper {
    padding: 150px 0px;

    @media (max-width: 1120px) {
        padding: 8px 10px;
    }

    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 22px;
    }

    .reviewsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $color-tertiary;
        border-radius: 15px;
        color: $color-primary;

        width: min(100%, 1440px);

        padding: 24px;

        .Reviews {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 26px 10px;

            .singleReview {
                animation: slide-in 0.5s forwards;
                opacity: 0;

                display: flex;

                @media (max-width: 1121px) {
                    flex-direction: column;
                    gap: 16px;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    padding: 0 10px;
                }

                img {
                    width: min(100%, 400px);
                    height: auto;
                    border-radius: 5px;
                    box-shadow: 4px 4px 25px 15px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
