.animatedbackground {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #f06, skyblue);
    animation: gradient 10s ease infinite;
    z-index: 10;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}