@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    // transform: translateX(-20%);
    // transition: transform 0.3s ease;
    // overflow-x: hidden;
}