@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: red dashed 1px;
    font-family: 'Carlito', sans-serif;
}

body {
    background-color: $color-primary;

    // overflow-x: hidden;
}

.GrayScreen {
    position: fixed;
    overflow: hidden;

    z-index: 100;

    width: 100%;
    height: 100vh;

    background-color: rgba(48, 45, 45, 0.226);
}