@import '../../styles/variables';


.NavigationWrapper {
    background-color: transparent;
    color: $color-secondary;
    position: absolute;
    z-index: 10;

    .NavigationContainer {

        display: grid;
        grid-template-columns: 1fr 3fr 0.5fr 0.5fr;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        overflow: hidden;

        .NavigatioLeftLinks {

        }

        .NavigatioMiddleLinks {

            .NavigationLinksContainer {

                ul {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    text-transform: uppercase;
                    list-style-type: none;
                    font-size: x-large;
                    text-align: center;

                    li {
                        min-width: 70px;
                    }

                    a {

                        text-decoration: none;
                        color: $color-secondary;

                        background-image: linear-gradient(to right,
                                $color-secondary,
                                $color-secondary 50%,
                                $color-tertiary 50%);
                        background-size: 200% 100%;
                        background-position: -100%;
                        display: inline-block;
                        padding: 5px 0;
                        position: relative;
                        background-clip: inherit;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: all 0.3s ease-in-out;

                        &:before {
                            content: '';
                            background: $color-secondary;
                            display: block;
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            transition: all 0.3s ease-in-out;
                        }

                        &:hover::before {
                            width: 100%;
                        }

                        &:hover {
                            background-position: 0;
                        }
                    }
                }
            }
        }

        .ShoppingCart {
            transition: transform 1.3s;

            &:hover {
                animation: bounce 1s infinite;
            }
        }

        .LanguageButton {
            border: none;
            color: $color-tertiary;
            text-align: center;

            font-size: xx-large;

            button {

                font-size: x-large;
                color: $color-tertiary;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }


            .Active {
                text-shadow: 0px 0px 11px $color-secondary;
                color: $color-secondary;
            }
        }

    }

}

@media (max-width:1120px) {

    .NavigationWrapper {
        position: relative;
        background-color: $color-primary;

        .NavigationContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .NavigatioLeftLinks{

                grid-row: 1;
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .LanguageButton {
                text-align: right;
                grid-column-start: 1;
                grid-column-end: 2;
                // grid-column: 1;
                grid-row: 2;
            }


            .ShoppingCart {
                text-align: left;
                grid-column: 3;
                grid-row: 2;
            }

            .NavigatioMiddleLinks {
                animation: slideDown 0.3s forwards;
                grid-column: 2;
                grid-column-start: 1;
                grid-column-end: 4;
                align-items: center;
                .NavigationLinksContainer {
                    padding-bottom: 30px;

                    ul {
                        flex-wrap: wrap;
                        // flex-direction: column;
                    }
                }
            }
        }
    }

    .NavigatioMiddleLinksExapnded {
        display: none;
    }

    .LanguageButtonExpanded {
        display: none;
    }

    .ExpandButton {
        display: block;
    }


}



@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}