@import "../../styles/variables";
@import "./Header.module.scss";

.NavbarWrapper {
    display: none;
    // transform: translateY(-100%);
    // transition: transform 0.3s;
    // animation: slideUp 0.3s forwards;

}

.NavbarWrapperVisible {
    display: block;
    position: fixed;
    background-color: $color-tertiary;
    top: 0;
    left: 0;

    // height: auto;
    width: 100%;
    z-index: 11;
    animation: slideDown 0.3s forwards;

    box-shadow: 0px 0px 600px 0px $color-tertiary;

    .NavbartContainer {

        .ShoppingCart {

            img {

                cursor: pointer;

                &:hover {
                    // animation: bounce 1s infinite;
                    // box-shadow: 0px 0px 200px 0px $color-secondary;
                    transition: all 0.6s ease-in-out;
                }
            }
        }

        a {
            text-decoration: none;
            color: $color-secondary;

            background-image: linear-gradient(to right,
                    $color-secondary,
                    $color-secondary 50%,
                    $color-primary 50%);
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 5px 0;
            position: relative;
            background-clip: inherit;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;

            &:before {
                content: '';
                background: $color-secondary;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
            }

            &:hover::before {
                width: 100%;
            }

            &:hover {
                background-position: 0;
            }
        }

        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 10px;

        font-size: x-large;
        text-transform: uppercase;

        .NavbarLinksLeft {
            ul {
                display: flex;
                list-style-type: none;
                gap: 20px;
                text-align: right;
                justify-content: right;
            }
        }

        .NavbarLinksMiddle {
            display: flex;
            justify-content: center;
        }

        .NavbarLinksRight {
            ul {
                display: flex;
                list-style-type: none;
                gap: 20px;
            }
        }

        .LanguageButton {

            text-align: center;
            font-size: xx-large;

            button {

                font-size: x-large;
                color: $color-primary;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }


            .Active {
                text-shadow: 0px 0px 11px $color-secondary;
                color: $color-secondary;
            }
        }


    }
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}