@import '../../styles/variables';

.TopnavContainer {
    color: $color-tertiary;
    background-color: $color-secondary;
    font-size: 20px;
    padding-top: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;

    hr {
        color: $color-tertiary;
        border-color: $color-tertiary;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .TopnavText {
        display: flex;
        // gap: 100px;
        overflow: hidden;
        width: 75%;
        // justify-content: space-between;
        justify-content: center;
        align-items: center;

        .TopnavLeftLinks {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
        }

        .TopnavRightLinks {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}