@import "../../styles/variables";

.FooterWrapper {
    background-color: $color-tertiary;
    color: $color-primary;

    .FooterContainer {
        padding: 100px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 1120px) {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
        }

        gap: 20px;

        .FooterContacts {
            width: 100%;

            h1 {
                text-transform: uppercase;
            }

            .ContactsOnline {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .FooterProducts {
            width: 100%;

            a {
                text-decoration: none;
                color: $color-primary;
            }

            h1 {
                text-transform: uppercase;
            }

            h2 {
                text-transform: uppercase;
            }
        }

        .FooterSeries {
            width: 100%;

            a {
                text-decoration: none;
                color: $color-primary;
            }

            h1 {
                text-transform: uppercase;
            }

            h2 {
                text-transform: uppercase;
            }
        }
    }

    .FooterCopyright {
        padding: 20px;
    }
}
