@import '../../styles/variables';


.FooterWrapper {
    background-color: $color-tertiary;
    color: $color-primary;


    .FooterContainer {
        padding: 100px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .FooterContacts {
            width: 30rem;

            h1 {
                text-transform: uppercase;
            }

            .ContactsOnline {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .FooterProducts {
            width: 30rem;

            h1 {
                text-transform: uppercase;
            }


            h2 {
                text-transform: uppercase;
            }
        }

        .FooterSeries {
            width: 30rem;

            h1 {
                text-transform: uppercase;
            }

            h2 {
                text-transform: uppercase;
            }

        }
    }

    .FooterCopyright {
        padding: 20px;
    }
}