@import '../../../styles/variables';


.DropdwonMenu {

    cursor: pointer;
    position: relative;

    .RotateUp {
        transform: rotate(-90deg);
        transition: transform 0.3s;
    }

    .RotateDown {
        transform: rotate(90deg);
        transition: transform 0.3s;
    }

    .DropdwonMenuTextWhite {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        span {
            fill: $color-tertiary;
        }

        a {
            color: $color-tertiary !important;
            background-image: linear-gradient(to right, $color-tertiary, $color-tertiary 50%, $color-tertiary 50%) !important;

            &:before {
                all: initial !important;
            }
        }
    }

    .DropDownMenuListWhite {
        position: absolute;
        z-index: 100;
        display: flex;
        flex-direction: column;

        font-size: 20.5px !important;
        width: 100%;
        overflow: hidden;

        background-color: $color-primary;
        border-radius: 9px 9px 15px 15px;
        box-shadow: $color-primary 0px 22px 70px 4px;
    }



    .DropdwonMenuTextBlack {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        z-index: 100;

        span {
            fill: $color-primary;
        }

        a {
            color: $color-primary !important;
            background-image: linear-gradient(to right, $color-primary, $color-primary 50%, $color-primary 50%) !important;

            &:before {
                all: initial !important;
            }
        }
    }

    .DropDownMenuListBlack {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 100;

        text-align: center;
        padding: 0px 5px 10px 5px;

        background-color: $color-tertiary;
        border-radius: 9px 9px 15px 15px;
        box-shadow: $color-primary 0px 22px 70px 4px;
    }
}