@import "../../../styles/variables";

.HeroBannerWrapper {

    .HeroBannerContainer {

        img {
            width: 100%;
            height: 100%;

            transform: translate(0%, 0%);
            opacity: 0;
            animation-name: fadeInScale;
            animation-duration: 1s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}


@keyframes fadeInScale {
    0% {
        transform: translate(-10%, -10%) scale(0.5);
        opacity: 0;
        border-radius: 20%;
    }

    100% {
        transform: translate(0%, 0) scale(1);
        opacity: 1;
    }
}